{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}} post-loop">
  <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 36px;
  ">
    {{#foreach tags}}
      <a href="{{url}}">
        <img style="width: 150px;" src={{image}} />
      </a>
    {{/foreach}}
    <section class="post-meta">
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time><br />
      {{tags}}
    </section>
  </div>

  <div>
    <header class="post-header">
      <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>

    <section class="post-excerpt">
      <p>{{excerpt words="39"}}... <a class="cta-2" href="{{url}}">→ Read more</a></p>
    </section>
  </div>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}