{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">
  <header class="post-header">
    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
  </header>
  <section class="post-meta">
    <span style="width: 245px; margin-right: 21px;">{{tags}}</span>
    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
  </section>
  <section class="post-excerpt">
    <a href="{{url}}"><img style="width: 245px; float: left; margin-right: 21px;" src={{image}} /></a>
    <p>{{excerpt words="42"}}</p>
    <a class="cta" href="{{url}}">Read More &raquo;</a>
  </section>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
