{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        <div style="display: flex; justify-content:space-between; align-items: center;">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
            {{#if @blog.navigation}}
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            {{/if}}
        </div>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description" style="margin-top: 50px; margin-bottom: 10px;">Every Tuesday, it's about:</h2>
            <div class="tags-header">
              <a href="/tag/stoked-on-meteor/" style="text-decoration: none;">
                <img style="width: 128px;" src="/content/images/2016/05/hacklearnmake-meteor.png">
                <h2 class="page-description">MeteorJS</h2>
              </a>
              <a href="/tag/startup-execution/" style="text-decoration: none;">
                <img style="width: 128px;" src="/content/images/2016/05/hacklearnmake-startup.png">
                <h2 class="page-description">Startups</h2>
              </a>
              <a href="/tag/slack-hacks/" style="text-decoration: none;">
                <img style="width: 128px;" src="/content/images/2016/05/hacklearnmake-slack.png">
                <h2 class="page-description">Slack</h2>
              </a>
            </div>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    {{> "mailchimp"}}

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
